body {
    margin:1%;
    padding: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: #faedb7;
    padding:1%;
    background-image: url("../../images/flywheel.jpg");
    background-repeat:no-repeat;
    background-position:initial;
    background-size:cover;
}

nav > a{
    color:crimson;
    display: inline-block;
    background-color: rgba(255,255,255,0.4);
    border-radius: 5px;
    padding: 3px 15px 3px 15px;
    margin: 0px 30px 0px 30px
}

img{
    width: 80%;
    display: block;
    border: 2px solid #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding:0px;
}

.active{
    background-color:rgba(255,255,255,1);
    color:rgb(64, 67, 211)
}

.left{
    display: block;
    width: 20%;
    float:left;
    background-color: rgb(135, 199, 156);
}
.right{
    padding: 2%;
    width: 75%;
    float:left;
    background-color: rgb(255, 255, 255);
    
}

h1{
    color: #FFFFFF;
    text-align: center;
}




