

/* These are tag specific */
p {
    font-size: 16px;
  }
/*h1 {
    font-size: 32px;
}*/

/* These are class specific */

.awesome {
    color: green;
}

.tooltip {
    color:brown
}

/* ID Selectors */
#blueviolet {
    color:blueviolet
}
